av==10.0.0
lmdb==1.7.2
mc==0.0
mmcv_full==1.7.2
natsort==8.4.0
numpy==1.21.6
opencv_python==4.11.0.86
opencv_python_headless==4.5.5.64
Pillow==9.4.0
Pillow==12.1.0
pyiqa==0.1.10
PyYAML==6.0.1
PyYAML==6.0.3
scipy==1.7.3
setuptools==60.2.0
torch==1.12.1+cu113
torchvision==0.13.1+cu113
tqdm==4.65.2
wandb==0.23.1
